
#mapBox {
    border: 1px solid black;
}

#countryInput {
    width: 200px;
    margin: 5px;
}

#searchInput {
    margin: 5px;
}

#searchButton {
    margin: 5px;
}

#drop {
    margin: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#logo {
    margin: 10px;
}

#continentButtons {
    margin: 5px;
}

#resetButton {
    margin: 5px;
}
