
#mapBox {
    border: 1px solid black;
}

#countryInput {
    width: 200px;
    margin: 5px;
}

#searchInput {
    margin: 5px;
}

#searchButton {
    margin: 5px;
}

#drop {
    margin: 8px;
}

h1 {
    text-align: center;
    font-size: 44px;
}

h2 {
    font-size: 30px;
}

#logo {
    margin: 20px;
}

#continentButtons {
    margin: 5px;
    display: inline-block;
}

#productDescription {
    margin-top: 5px;
    /* width: 100%; */
    height: auto;
    /* float: left; */
}

#search {
    display: inline-block;
    font-size: 20px;
}

.searchBar {
    margin-left: 281px;
    margin-top: 10px;
}

.searchComponent {
    margin-top: 8px;
}

.productList {
    margin: 0;
    width: 79%;
}
