#productDescription {
    margin: 0;
    width: 100%;
}

.table_format_name {
    width: 15%
}

.table_format_type {
    width: 10%
}

.table_format_description {
    width: 66%
}

.table_format_update {
    width: 9%
}



#countryInput {
    width: 200px;
    margin: 5px;
}

#searchInput {
    margin: 5px;
}

#searchButton {
    margin: 5px;
}

#drop {
    margin: 8px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

#logo {
    margin: 10px;
}

#continentButtons {
    margin: 5px;
    display: inline-block;
}

#productDescription {
    margin-top: 5px;
    /* width: 100%; */
    height: auto;
    /* float: left; */
}

#search {
    display: inline-block;
    font-size: 20px;
}

.searchBar {
    margin-left: 281px;
    margin-top: 5px;
}

.productList {
    margin: 0;
    width: 79%;
}

.sortButton {
    margin: 6px;
}